#buscar {
  top: 125px;
  border: 3px;
  border-radius: 2rem;
  background-color: #161b22;
  height: 26%;
  position: sticky;
}
#nav {
  position: sticky;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  background-color: #161b22;
  border-radius: 10px;
  top: 8px;

  z-index: 1;
}
.columnas {
  position: sticky;
  top: 95px;
}
